.customer-styles{

    .email{
        color: rgb(161, 161, 161);
        font-size: 12px;
    }
    .notification-blue{
        width: 10px;
        height: 10px;
        background-color: rgb(30, 64, 218);
        position: relative;
        right: -30px;
        bottom: 40px;
        border-radius: 50%;
    }
    .notification-grey{
        width: 10px;
        height: 10px;
        background-color: rgba(165, 165, 165, 0.966);
        position: relative;
        display: inline-block;
        right: 15px;
        bottom: 17px;
        border-radius: 50%;
    }
    .image{
        height: 40px;
        width: 40px;
        border-radius: 25px;
    }
    .pic-frame{
    }
    .unApproveList{
    }
    .back-btn-frame{

    }
    .box-two{
        background-color: white;
        border-radius: 15px;
        margin: 45px;
        -webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.44); 
        box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.44);
    }
    .frame-image{
        height: 190px;
        width:  190px;
        border-radius: 95px;
        margin-left: 80px;
        border: 6px solid #1A73E8;
        position: relative;
        bottom: 26px;
        z-index: 1;
        box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.75);
        -webkit-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.75);
    }
    .bact-btn{
        cursor: pointer;
        color: white;
        position: relative;
        bottom: 15px;
        background-color: #1A73E8;
        padding: 7px;
        font-size: 13px;
        border-radius: 5px;
        margin-left: 45px;
        box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.75);
        -webkit-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.75);
    }
    .back-btn-cust{
        text-align: center;
        cursor: pointer;
        color: white;
        background-color: #1A73E8;
        position: relative;
        left: 55px;
        top:20px;
        padding: 7px;
        font-size: 13px;
        border-radius: 5px;
        margin-left: 45px;
        box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.75);
        -webkit-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.75);
    }
    .back-btn-cust-two{
        width: 170px;
        text-align: center;
        cursor: pointer;
        color: white;
        background-color: #1A73E8;
        position: relative;
        float: right;
        right: 210px;
        top:20px;
        padding: 7px;
        font-size: 13px;
        border-radius: 5px;
        margin-left: 45px;
        box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.75);
        -webkit-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.75);
    }
    .bact-btn:hover{
        transition-duration: 250ms;
        padding: 9px;
    }
    .detail-bar{
        background-color: #1A73E8;
        color: white;
    }
    .small-table-frame{
        width: 1000px;
    }
    .details-bar{
        background-color: #1A73E8;
        color:white;
        padding: 20px;
        border-radius: 15px;
    }
    .border-btm{
        border-bottom: 1px solid white;
        margin-left: 40px;
        margin-right: 40px;
    }
    @media screen and (min-width: 1299px) {
        .detail-bar{
            background-color: #1A73E8;
            margin-left: 10px;
            width: 750px;
        }
        .box-two{
            margin-right: 10px;
        }
      }
    @media screen and (min-width: 1359px) {
        .detail-bar{
            background-color: #1A73E8;
            margin-left: 5px;
            width: 800px;
        }
        .box-two{
            margin-right: 10px;
        }
      }
    @media screen and (min-width: 1400px) {
        .detail-bar{
            background-color: #1A73E8;
            margin-left: 1px;
            width: 865px;
        }
        .box-two{
            margin-right: 10px;
        }
      }
    @media screen and (min-width: 1600px) {
        .detail-bar{
            background-color: #1A73E8;
            margin-left: -12px;
            width: 1000px;
        }
        .box-two{
            margin-right: 10px;
        }
      }
    @media screen and (min-width: 1700px) {
        .detail-bar{
            background-color: #1A73E8;
            width: 1080px;
            margin-left: -16px;
        }
        .box-two{
            margin-right: 100px;
        }
      }
    @media screen and (min-width: 1800px) {
        .detail-bar{
            background-color: #1A73E8;
            right: 270px;
        }
        .box-two{
            margin-right: 150px;
        }
      }
    @media screen and (min-width: 1900px) {
        .detail-bar{
            background-color: #1A73E8;
            width: 1270px;
            margin-left: -35px;
        }
        .box-two{
            margin-right: 200px;
        }
      }
    .name{
        font-weight: 500;
        font-size: 15px;
        line-height: 8px;
    }
    .phone{
        color: gray;
        font-size: 14px;
        padding-bottom: 0px;
        margin-bottom: 0px;
    }
    
    .status{
        color: gray;
        font-size: 12px;
        border-radius: 5px;
        color: red;
        background-color: rgba(255, 0, 0, 0.253);
        padding: 3px 10px 3px 10px;
    }
    .red { color: crimson; }
    .blue { color: rgb(20, 102, 197); }
    .yellow { color: rgb(233, 171, 57); }
    .icon-trans{
        margin-right: 5px;
        margin-left: 5px;
        margin-bottom: 3px;
        font-size: 15px;
    }
    .icon-trans:hover{
        transition-duration: 150ms;
        cursor: pointer;
        margin-right: 3px;
        margin-left: 4px;
        margin-bottom: 4px;
        font-size: 18px;
        margin-bottom: 0px;
    }

    .img1{
        height: 24px;
        width: 24px;
        border-radius: 50%;
        border: 2px solid white;
    }
    .img2{
        height: 24px;
        width: 24px;
        border-radius: 50%;
        border: 2px solid white;
        position: relative;
        z-index: 1;
        left: -5px;
    }
    .img3{
        height: 24px;
        width: 24px;
        border-radius: 50%;
        border: 2px solid white;
        position: relative;
        z-index: 1;
        left: -10px;
    }
    .profile-view{
        animation: fadeInAnimation ease 0.3s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }
    .recent-text{
        font-weight: bolder;
        font-size: 20px;
    }

    .paginate-btn{
        cursor: pointer;
        color: silver;
        font-size: 18px;
        border: none;
        background-color: white;
        font-weight: 800;
    }
    .paginate{
        border:none;
        color: silver;

    }

    .filter-btn{
        background-color: #1A73E8;
        border: none;
        color: white;
        border-radius: 0px 5px 5px 0px;
        padding: 7px 15px 5px 15px;
        box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.75);
        -webkit-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.75);
    }
    .rows{
        color: grey;
        font-size: 14px;
    }
}
.rec:hover{
    cursor: pointer;
    background-color: rgba(192, 192, 192, 0.296);
}
.mechanic-styles {
    animation: fadeInAnimation ease 0.3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}