.mainLayout{
    
    @import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,700");

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: Roboto, sans-serif;
    }
    body {
        height: 100vh;
        background: #242932;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    ul {
        position: absolute;
        left: 0px;
        background: #1733E8;
        padding: 2px 0px 10px 20px;
        border-right: 5px solid #EAEDF7;
        width: 120px;
        height: 100vh;
        transition: 0.5s;
        overflow: hidden;
        width: 250px;
    }

    ul li {
        
        list-style: none;
        padding: 10px;
        padding-left: 12px;
        padding-right: 0;
        color: white;
        background-color: #1733E8;
        font-size: 15px;
        margin-bottom: 10px;
        cursor: pointer;
        position: relative;
        transition: 0.3s ease-in-out;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;

    }

    ul li:hover {
        transition: 0s;
        background-color: #0f208dad;
    }

    ul li.active:before {
        content: '';
        position: absolute;
        top:-20px;
        right: 0px;
        width: 20px;
        height:20px;
        background: transparent;
        border-radius: 50%;
        box-shadow: 10px 10px 0 #EAEDF7;
    }

    ul li.active:after {
        content: '';
        position: absolute;
        bottom:-20px;
        right: 0px;
        width: 20px;
        height:20px;
        background: transparent;
        border-radius: 50%;
        box-shadow: 10px -10px 0 #EAEDF7

    }

    ul li.active {
        background: #EAEDF7;
        color: black;
    }
    .item-icon{
        position: relative;
        bottom: 1px;
        margin-right: 10px;
    }
    ul li.active > .title{
        position: relative;
        left: -6px;
    }
    ul li.active > .item-icon{
        transition-duration: 300ms;
        background-color: #1733E8;
        color: white !important;
        border: 6px solid #1733E8;
        border-radius: 90%;
        padding: 0px 4px 3px 4px;
        left: -8px;
    }

    ul:hover {
    }
    .top-bar{
        height: 60px;
        border-bottom: 1px solid #1A73EB;
        position: fixed;
        background-color: white;
        top: 0px;
        left: 245px;
    }
    .user{
        float: right;
        margin-right: 230px;
        padding-right: 20px;
        padding-top: 10px;
        font-size: 14px;
        color: #1A73EB;
        font-weight: 600;
        background-color: #EAEDF7;
        border-left: 1px solid #1A73EB;
        padding-left: 20px;
        height: 59px;
        width: 200px;
    }
    .login_pic{
        height: 40px;
        width: 40px;
        border-radius: 50%;
    }
    .user-type{
        font-size: 11px;
    }
    .location{
        float: right;
        margin-right: 20px;
        border: none;
        margin-top: 15px;
    }
    select{
        background-color: #EAEDF7;
        border: 1px solid white;
        border-radius: 5px;
        padding: 6px 25px 6px 35px;
        color: #1A73EB;
        font-size: 13px;
    }
    select:focus{
        outline: none
    }
    .notification-bell{
        color: #1A73EB;
        float: right;
        position: relative;
        top:15px;
        right:10px;
        cursor: pointer;
    }
    .select-icon{
        position: relative;
        left: 25px;
        color: #1A73EB;
        bottom: 2px;
    }
    .children{
        background-color: #EAEDF7;
        margin-top: 90px;
    }
}