.mechanic-styles{
    .email{
        color: grey;
        font-size: 12px;
    }
    .image{
        height: 40px;
    }
    .name{
        font-weight: 500;
        font-size: 15px;
        line-height: 8px;
    }
    .phone{
        color: gray;
        font-size: 14px;
    }
    .red { color: crimson; }
    .blue { color: rgb(20, 102, 197); }
    .yellow { color: rgb(233, 171, 57); }
    .icon-trans{
        margin-right: 8px;
        margin-left: 8px;
        font-size: 15px;
    }
    .icon-trans:hover{
        transition-duration: 150ms;
        cursor: pointer;
        margin-right: 7px;
         margin-left: 6px;
         font-size: 18px;
    }

}
.mechanic-styles {
    animation: fadeInAnimation ease 0.3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}