.mechanic-styles{
    .email{
        color: grey;
        font-size: 12px;
    }
    .image{
        height: 40px;
    }
    .name{
        font-weight: 500;
        font-size: 15px;
        line-height: 8px;
    }
    .phone{
        color: gray;
        font-size: 14px;
    }
    .red { color: crimson; }
    .blue { color: rgb(20, 102, 197); }
    .yellow { color: rgb(233, 171, 57); }
}