.task-styles{
    .cost-area{
        width: 94%;
        margin-left: 10px;
    }

    .part-frame{
        border: 1px solid silver;
        width: 96%;
        border-radius: 5px;
        height: 40px;
        padding: 6px;
    }
    .part{
        font-size: 14px;
        border-radius: 5px;
        background-color: rgba(192, 192, 192, 0.425);
        padding-left: 20px;
        padding-top: 4px;
        padding-bottom: 4px;
    }
    .cross{
        color: black;
        cursor: pointer;
        font-size: 12px;
        font-weight: 600;
        position: relative;
        bottom: 2px;
        margin-left: 20px;
        margin-right: 8px;
    }
    .cross:hover{
        transition-duration: 200ms;
        color: red;

    }
    .plus{
        cursor: pointer;
        width: 35px;
        background-color: white ;
        padding: 4px 10px 4px 10px;
        border: 1px solid grey;
        border-radius: 50%;
        position: relative;
        bottom: 20px;
        left: 50%;
    }
    .img-upload{
        font-size: 13px!important;
        border:1px solid silver;
        padding-left:40%;
        padding-top:50px;
        padding-bottom:0px
    }
    .img-upload-icon{
        height: 70px;
        position: relative;
        left: -200px;
        bottom: 50px;
    }
    input[type=file]::file-selector-button {
        border: 1px solid silver;
        padding: .2em .4em;
        border-radius: .2em;
        background-color: white;
        transition: 1s;
    }
    .card{
        height: 320px;
        width: 270px;
        background-color: white;
        box-shadow: 10px 10px 21px -13px rgba(0,0,0,0.75);
        -webkit-box-shadow: 10px 10px 21px -13px rgba(0,0,0,0.75);
        -moz-box-shadow: 10px 10px 21px -13px rgba(0,0,0,0.75);
        border-radius: 10px;
    }
    .top{
        background-color: #1A73E8;
        height: 100px;
        border-radius: 10px 10px 0px 0px;
    }
    .id{
        color: white;
        font-weight: 600;
        text-align: center;
        margin-top: 30px;
    }
    .id-name{
        color: white;
        font-weight: 400;
        text-align: center;
    }
    .service-left{
        margin-left: 20px;
        float: left;
        margin-top: 20px;
        font-size: 18px;
    }
    .service-right{
        float: right;
        margin-right: 20px;
        margin-top: 20px;
        font-size: 18px;
    }
    .service-left-two{
        margin-left: 20px;
        float: left;
        margin-top: 10px;
        font-size: 18px;
    }
    .service-right-two{
        float: right;
        margin-right: 20px;
        margin-top: 10px;
        font-size: 18px;
    }
    .line{
        margin-top: 50px;
        height: 1px;
        width: 82%;
        margin-left: 20px;
        margin-left: 20px;
        background-color: #74747456;
    }
    .dot-green{
        background-color: greenyellow;
        height: 10px;
        width: 10px;
        float: right;
        margin-right: 10px;
        margin-top: 10px;
        border-radius: 50%;
    }
    .dot-red{
        background-color: red;
        height: 10px;
        width: 10px;
        float: right;
        margin-right: 10px;
        margin-top: 10px;
        border-radius: 50%;
    }
    .dot-yellow{
        background-color: yellow;
        height: 10px;
        width: 10px;
        float: right;
        margin-right: 10px;
        margin-top: 10px;
        border-radius: 50%;
    }
    .cmt-submit{
        border: none;
        background-color: rgba(59, 221, 167, 0.945);
        color: white;
        padding: 6px 15px 6px 15px;
        border-radius: 5px;
    }
    .comment-pic{
        border-radius: 50%;
    }
    .comment-name{
        font-weight: 700;
        font-size: 14px;
    }
    .comment-comment{
        color: grey;
        margin-top: 5px;
        font-size: 15px;
    }
    .comment-date{
        color: grey;
        margin-top: 5px;
        font-size: 10px;
    }
    .img-upload-two{
        border: 1px solid silver;
        min-height: 100px;
        padding-left: 15%;
        padding-top: 12%;
    }
    .upload-two-btn{
        border: 1px solid silver;
        background-color: white;
        padding-left: 19px;
        padding-right: 19px;
    }
}