@import '_signin.scss';
@import '_dashboard.scss';
@import '_mainLayout.scss';
@import '_mechanicLayout.scss';
@import '_service.scss';
@import '_customerLayout.scss';
@import '_taskLayout.scss';
@import '_invoices.scss';
@import '_services.scss';


.wh{
    color: white;
}

.bl{
    color: black;
}

.f15{
    font-size: 15px;
}
.picture-notification{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
.global-btn{
    border: none;
    border-radius: 3px;
    color: white;
    padding: 9px 13px 9px 13px;
    font-size: 12px;
    
    background-color: #1a73e8;

    box-shadow: 0px 0px 15px 0px rgba(0,51,153,0.75);
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0,51,153,0.75);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0,51,153,0.75);
}
.online-form{
    background-color: #0a438f;
    height: 100vh;
}
.box{
    background-color: white;
    min-height: 50px;
    border-radius: 8px;
    padding: 15px;

    box-shadow: 0px 0px 15px -10px rgba(20,20,20,0.75);
    -webkit-box-shadow: 0px 0px 15px -10px rgba(20,20,20,0.75);
    -moz-box-shadow: 0px 0px 15px -10px rgba(20,20,20,0.75);
}
.box-notifications-seen{
    background-color: white;
    min-height: 50px;
    border-radius: 8px;
    padding: 5px;
    color: grey;
    font-size: 14px;
    box-shadow: 0px 0px 15px -10px rgba(20,20,20,0.75);
    -webkit-box-shadow: 0px 0px 15px -10px rgba(20,20,20,0.75);
    -moz-box-shadow: 0px 0px 15px -10px rgba(20,20,20,0.75);
}
.box-notifications{
    background-color: rgb(231, 231, 231);
    min-height: 50px;
    border-radius: 8px;
    padding: 5px;
    color: grey;
    font-size: 14px;
    box-shadow: 0px 0px 15px -10px rgba(20,20,20,0.75);
    -webkit-box-shadow: 0px 0px 15px -10px rgba(20,20,20,0.75);
    -moz-box-shadow: 0px 0px 15px -10px rgba(20,20,20,0.75);
}
.note-link{ color: blue; cursor: pointer; }
.note-link:hover{ border-bottom: 1px solid blue; }
.shadow{
    box-shadow: 0px 0px 91px 11px rgba(20,20,20,0.75);
    -webkit-box-shadow: 0px 0px 91px 11px rgba(20,20,20,0.75);
    -moz-box-shadow: 0px 0px 91px 11px rgba(20,20,20,0.75);
}

.w-90p{
    width: 90%!important;
}